{% extends "base.html" %}

{% block content %}
<h1>Место</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", autocomplete="off") }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control", autocomplete="off") }}<br>
        {% for error in form.address.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.notes.label }}<br>
        {{ form.notes(class="form-control") }}<br>
        {% for error in form.notes.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>    
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}  {% if id > 0 %} <a href="/del/{{id}}" class="btn btn-secondary">Удалить</a> {% endif %}</p>
</form>
<p>
{% if id > 0 and form.address.data != '' %} <img src="/map/{{id}}">{% endif %}
</p>
{% endblock %}